@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;300;400;500&display=swap');


*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition:.4s all;
  outline:none;
  border: none;
  text-transform: capitalize;
  -webkit-tap-highlight-color: transparent;
}
.tou{
  position: fixed;
  width: 3rem;
  height: 3rem;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.08);
  opacity: 0;
  background-color:var(--color);
  color:#112;
  display: grid;
  place-items: center;
  right:30px;
  bottom:30px;
  z-index: 999;
  transition:.5s all;
  border: none;
  outline: none;
}
.tou.active{
  opacity: 1;
}
.car{
  flex:1 1 10rem;
}
.car img{
  flex:11 10rem;
  border-radius: 50%;
  object-fit: cover;
}
:root{
  --color:#F7CA3E;
  --dark:#111;
  --lightdark:#666;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
*::selection{
  background-color: var(--color);
  color:#fff;
}
html::-webkit-scrollbar{
  width: 1.4rem;
}
html::-webkit-srcollbar-track{
background:var(--color);
}
html::-webkit-scrollbar-thumb{
  background: var(--color)
}

li .active{
  color:var(--color);
}
body {
    font-size: 15px;
  font-family: 'Arima', sans-serif;
}
.ma{
  margin: 13px 0;
}
.b p{
  margin:12px 0;
}
header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  left:0;
  width: 100%;
  padding: 20px 5%;
  align-items: center;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}
ul{
  display: flex;
  gap:20px;
}
header img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}

li a{
  font-size: 2rem;
  color:var(--lightdark);
  
}
li a:hover{
  color:var(--color);
}

#menu{
  display: none;
}
.fa-times{
  transition: .3s all;
  transform: rotate(360deg)
}
section{
  padding: 2rem 6%;
}
.main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  padding: 5rem 5%;
  z-index: 20;
  position: relative;
}
.main:before,
.main:after{
  content:"";
  position: absolute;
  right:-13rem;
  top:7em;
  width:70rem;
  height:18rem;
  transform: rotate(-45deg);
  animation: ani 1s linear 1;
  background-color: var(--color)
  
}
.main:before{
  top:1rem;
  background-color: #fff;
  z-index: 2;
}
.text{
  flex:1 1 20rem;
  z-index: 20;
}
.t{
  animation: left .6s linear;

}
.text h1{
  font-size: 40px;
}
.text p{
  font-size: 20px;
}
.btn{
border:1px solid var(--color);
  padding:5px 10px;
  position:relative;
  z-index: 200;
  border-radius:4px;
  color:#111;
  
}
.menu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.our h1{
  text-align: center;
  margin:30px 0;
  font-size: 30px;
}
h1 span{
  color:var(--color);
}
.btn:after{
  content:"";
  position: absolute;
  background-color:var(--color);
  width: 100%;
  height: 100%;
  left:0;
z-index: -1;
  top:0;
  transform-origin: left;
  transition: .5s all;
  transform: scaleX(0);
}
.btn:hover:after{
    transform: scaleX(1);
    

}
.m{
  margin: 25px 0;
}

.img{
    flex:1 1 20rem;
    z-index: 50;

  
}
.img img{
  width: 100%;
}
.i{
   animation: right 1s linear;

}
.row{
  display: flex;
  gap:40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-block: 25px;
  border-top: 4px dashed #666;
  border-bottom:4px dashed #666;

}
@keyframes right {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0%)
  }
}@keyframes left{
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes ani{
  0%{
    transform:translateY(-70rem) rotate(-45deg);
  }
}

.rat{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  gap:20px;
}
.oh h3{
  color:var(--color);
}
.ho{
  flex:1 1 15rem;
}
.ho img{
  width: 100%;
}
.split{
  flex:1 1 17rem;
}

.oh{
  display:flex;
  gap:20px;
  margin:30px 0;
}
.popular{
  padding: 2rem 0;
}
.popular h1{
  text-align: center;
  margin:25px 0;
  font-size: 45px;
}
.box{
  display:flex;
  background:linear-gradient(to bottom,rgba(255,255,255,0.7),rgba(255,255,225,.7)),url(/img/photo-1488477304112-4944851de03d.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  justify-content:center;
  align-items: center;
  padding-block: 50px;
  padding-inline: 50px;
  gap:30px;
  width: 100%;
  flex-wrap: wrap;
}
.fa-star{
  color:var(--color)
}
.b{
 flex:1 1 37rem;
 background-color: #fff;
 padding: 30px;
text-align: center;
box-shadow:3px 3px 10px 3px rgba(0,0,0,.15);
}

.b img{
  width: 100%;
  height:100%;
  display: block;
}
.gallery{
  padding-block: 7rem;
}

.gallery h1{
  text-align: center;
  font-size:50px;
margin:20px 0;
}
.pot{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}

.park{
  flex:1 1 40rem;
  position: relative;
  overflow: hidden;
}
.park:before{
  content:"";
  width: 100%;
  height: 100%;
  top:-100%;
  background:rgba(0,0,0,.8);
  position: absolute;
  transition: .4s all;
  
}
.park h3{
  position: absolute;
  top:160%;
  left:50%;
  transition: .3s all;
  transform:translate(-50%,-50%);
  color:#fff;
  font-size: 30px;
}
.park:hover h3{
  top:50%;
  display: block;
}
.park:hover:before{
  top:0;
}
.park img{
  width: 100%;
height: 100%;
}
.or{
  display: flex;
  flex-wrap: wrap;
  
}
.order{
  padding-block: 6rem;
  background:linear-gradient(135deg,#111,var(--color));
  
}
.order h1{
  text-align: center;
  margin:20px 0;
}
.form{
  flex:1 1 20rem;
  background-color: #ccc;
}
form{
  display: flex;
  flex-flow: column;
  justify-content:center;
  width: 100%;
  text-transform:lowercase;
  height: 100%;
  
}
form .btn{
  align-self:flex-start;
  margin-left:5%;
  background-color:#fff;
  margin-block: 25px;
}
input, textarea{
  width:90%;
  padding: 7px 20px;
  margin:10px auto;
  text-transform:none;

  
}
textarea{
  height:10rem;
}
.om{
  flex:1 1 20rem;
}
.om img{
  width: 100%;
  height:100%;
  display: block;
  overflow: hidden;
}

.footer{
  display: flex;
  flex-wrap: wrap;
}
.branch{
  flex:1 1 20rem;
}


.branch h1{
  margin-bottom: 15px;
  
}


.branch a{
  display: block;
  color:#666;
}
.branch a:hover{
  color:var(--color);
}





@media(max-width: 768px){
  header{
    padding: 15px 10%;
  }
  .popular h1{
    font-size: 30px;
}
  .box{
    padding-inline: 10px;
  }
  .ok h2{
    font-size:16px;
  }
  .ok p{
    font-size: 12px;
  }
  .main:before,
  .main:after{
    display: none;
  }
  .main:before{
    display:none;
  }
  @keyframes ani{
  0%{
    transform:translateY(-52rem) rotate(-45deg);
  }
}
.park h3{
  font-size: 17px;
}
/*aimation*/
@keyframes right{
  0%{
    transform:translateX(100%)
  }
  100%{
      transform:translateX(0%)
  }
}

@keyframes top {
  0% {
    transform: translateY(-100%)
  }

  100% {
    transform: translateY(0%)
  }
}

@keyframes bottom {
  0% {
    transform: translateY(100%)
  }

  100% {
    transform: translateY(0%)
  }
}@keyframes left {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0%)
  }
}



/*animation ends*/

  #menu{
    display: initial;
  }
  ul{
    position: absolute;
    top:100%;
    left:0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    flex-flow: column;
    background-color: var(--color);
    width:100%;
    padding-block: 15px;
    
    
  }.text h1{
    font-size: 30px;
  }
  .text p{
    font-size:16px;
  }
  ul.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  header img{
    width: 40px;
    height: 40px;
}
li a{
  color:#fff;
  margin:0 10%;
  border-left: 2px solid #fff;
  padding-inline:10px;
}
li a:hover{
  color: #333;
  border-left-color:#333;
}

li .active{
  color:#333;
    border-left-color:#333;

}
.row{
  gap: 15px;
}
.main{
  flex-flow: column-reverse;
}
.text{
  text-align: center;
  animation: bottom .6s linear;
}
}
